* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 96px;
    margin: 10px;
}

th, td {
    border: 1px black solid;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 200px;
}

#board {

}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-button {
    width: 300px;
    height: 300px;
    align-self: center;
    font-size: 240px;
    /* background-color: transparent;
    border: transparent; */
}

#announcement {
    font-size: 100px;
    margin: 10px;
    font-weight:500;
}

#scoreboard {
    display:flex;
    flex-direction: row;
    font-size: 120px;
    justify-content: space-between;
}

p {
    margin: 5px;
}

.side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

#X, #XScore{
    color: red;
}

#O, #OScore{
    color: blue;
}

#reset {
    width: 200px;
    height: 150px;
    font-size: 48px;
    background-color: yellow;
    color:purple;
    visibility: hidden;
}